#sample-ui
#map3d{:style => "height: 400px; width: 600px;"}

= text_field_tag :start_time
= text_field_tag :end_time

%button.date_submit.btn Submit

= text_field_tag :lat
= text_field_tag :lon

%button.coords_submit.btn Submit
