!!!
%html
  %head
    %title Moontour
    = stylesheet_link_tag    "application", :media => "all"
    =#%script{ :src => "http://www.google.com/jsapi", :type => "text/javascript" }
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    = yield
